#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Home info  */
#home-info {
  height: 550 px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}

/* contact */
#contact-info .box {
  border-bottom: rgb(92, 92, 92) dotted 1px;
  padding: 35px;
}

/* showcase  */
#showcase {
  height: 100%;
  padding-top: ;
}

#showcase .showcase-content {
  padding-top: 70px;
  margin-bottom: 30px;
}
